.to-do{
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: rgb(9, 216, 216);
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-to-do {
  width: 75%;
  height: 25px;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.input-to-do:focus{
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.to-do-inner{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.to-do-inner > button {
  width: 60px;
  background-color: #2b5581;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.to-do-ul ul {
  list-style: none;
  padding: 0;
}

.to-do-ul li {
  text-align: left;
  background-color: #f2f2f2;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  
}
.to-do-ul {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.to-do-ul > li > span {
  flex-grow: 1;
}
.delete-icon{
  cursor: pointer;
  position: fixed;
  padding-left: 320px;
  
}